<div class="news">
    <h1 class="news-title">News</h1>

    <div class="news-tab" id="first">
        <h2 class="news-tab-title">
            Hydrogen Vs Electric Cars
        </h2>
        <p class="news-tab-content">
            Will hydrogen-fueld cars ever catch up to EVs?
        </p>
    </div>
    <div class="news-tab">
        <h2 class="news-tab-title">
            The Downsides of AI Artistry
        </h2>
        <p class="news-tab-content">
            What are the possible adverse effects of
            on-demand AI image generation?
        </p>
    </div>
    <div class="news-tab">
        <h2 class="news-tab-title">
            Is VC Funding Drying Up?
        </h2>
        <p class="news-tab-content">
            Private funding by VC firms is down 50%
            YOY. We take a look at what that means
        </p>
    </div>
</div>