.news {
    display: flex;
    flex-direction: column;
    min-height: 490px;
    background-color: #00001a;
    font-family: 'Inter', sans-serif;
    padding-top: 30px;

    &-title {
        color: #e2ad59;
        font-size: 26px;
        font-weight: 800;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    &-tab {
        align-self: center;
        width: 90%;
        height: 140px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        cursor: pointer;

         &:not(#first) {
            border-top: 2px solid #9091a5;
         }

        &-title {
            color: white;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        &-content {
            font-size: 17px;
            color: #9091a5;
            line-height: 27px;
        }

        &:hover .news-tab-title {
            color: #eab467;
        }
    }
}

@media only screen and (max-width: 655px) {
    :host {
        padding: 20px;
        width: 92%;
    }
}

@media only screen and (min-width: 1200px) {
    .news {
        width: 100%;
        height: 490px;
   }
   :host {
     width: 29.5%;
   }
}

@media only screen and (min-width: 655px) and (max-width:1200px) {
    .news {
        width: 100%;
        height: auto;

        &-tab {
            text-align: center;
            width: 95%;
            &-titele {
                font-size: 20px;
            }

            &-content {
                font-size: 16px;
            }
        }

        
   }
   :host {
     width: 27%;
   }
}