:host {
   margin: auto;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

@media only screen and (max-width: 655px)    {
    :host {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px)  {
    :host {
        flex-direction: row;
        column-gap: 30px;
    }
}

@media only screen and (min-width: 655px) and (max-width:1200px) {
    :host {
        flex-direction: row;
        column-gap: 20px;
        justify-content: center;
    }
}