:host {
   margin: auto;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
}

@media only screen and (max-width: 600px)  {
    :host {
        width: 92%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 600px)  {
    :host {
        width: 75%;
        flex-direction: row;
        column-gap: 30px;
    }
}