.main-container {
    min-height: 500px;
    display: flex;
    row-gap: 20px;

    & .title {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        color: #010018;
    }

    & .content {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 27px;
        color: #9f9fa8;
    }

    & .read {
        font-family: 'Inter', sans-serif;
        width: 190px;
        height: 50px;
        background-color: #f15d51;
        color: white;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-bottom: 50px;

        &:hover {
            background-color: #000019;
        }
    }

    & > .image {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 655px)  {
    .main-container {
        flex-direction: column;
        margin: auto;
    }

    .title {
        font-size: 45px;
        line-height: 50px;
    }

    .image {
        height: 340px;
        background-image: url("../../assets/image-web-3-mobile.jpg");
    }

    :host {
        width: 92%;
    }
}

@media only screen and (min-width: 1500px) {
    :host {
        width: 68%;
    }
    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .title {
        width: 47%;
        font-size: 52px;
        line-height: 60px;
        height: 110px;
    }

    .read {
        margin-left: 47%;
    }

    .image {
        height: 320px;
        background-image: url("../../assets/image-web-3-desktop.jpg");
    }
}

@media only screen and (min-width: 1200px) and (max-width:1500px) {
    .main-container {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    :host {
        width: 68%;
    }

    .title {
        width: 40%;
        font-size: 50px;
        line-height: 55px;
        height: 110px;
    }

    .read {
        margin-left: 40%;
    }

    .content {
        width: 50%;
    }

    .image {
        height: 320px;
        background-image: url("../../assets/image-web-3-mobile.jpg");
    }
}

@media only screen and (min-width: 655px) and (max-width:1200px) {
    .main-container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }

    :host {
        width: 66%;
    }

    .title {
        width: 40%;
        font-size: 45px;
        line-height: 50px;
        height: 110px;
    }

    .read {
        margin-left: 45%;
    }

    .content {
        width: 45%;
        margin-left: 5%;
    }

    .image {
        height: 310px;
        background-image: url("../../assets/image-web-3-mobile.jpg");
    }
}